@using System.Security.Claims

@model IEnumerable<OzSapkaTShirt.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">Ürünler</div>
@foreach (var item in Model)
{
    <a class="card" style="width:102px;height:250px;display:inline-block;vertical-align:top" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
        <span class="card-title">@item.Name.Trim()</span>
        <img class="card-img" src="data:image/png;base64,@Convert.ToBase64String(item.DBImage)" style="width:100px;display:block">
        <span class="card-text">@item.Description.Trim()</span>
        <span class="card-text">@item.Price.ToString("F2")</span>
    </a>
    @if (User.FindFirstValue(ClaimTypes.NameIdentifier) != null)
    {
        <script>
            function UpDateBasket(data)
            {
                var basketCount = 0;
                var i;

                for(i=0;i<data.orderProducts.length;i++)
                {
                    basketCount=basketCount+data.orderProducts[i].quantity;
                }
                $("#basketCount").html(basketCount);
            }
            function AddToBasket(productId) {
                $.post("@Url.Action("UpDateBasket","OrderProducts")/" + productId+"?quantity=1",UpDateBasket,"json");
@*                $("#basketCount").load("@Url.Action("UpDateBasket","OrderProducts")/" + productId+"?quantity=1&addReMove=true");
*@            }
        </script>
        <input type="button" value="SEPETE EKLE" onclick="AddToBasket(@item.Id.ToString())" />
    }
}
